button {
    background: rgb(253 233 179);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 5px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: black;
    width: 200px;
    height: 40px;
    margin: 10px 0px 10px 0px;
    
}
body {
    background-image: url("stars-pattern.png");
    color: whitesmoke;
    overflow-y: hidden;
}

#divSer, #divCam {
    border-radius: 10px;
    backdrop-filter: blur( 15px );
    background: rgb(27 23 49 / 75%);
}

.container1 {
    overflow-y: scroll;
    height: 100vh;
    background: rgba(26, 22, 51, 0.45);
    display: grid;
    grid-gap: 20px;
    align-items: center;
    width: 100%;
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );

}
